.bots-information__subtitle {
  display: block;
  margin: 98px 20px 26px 96px;
  font-family: 'basic_sanslight';
  font-size: 28px;
}


.bots-information__list__item--orange
.bots-information__subtitle {
  color: #FF6666;

}

.bots-information__list__item--purple
.bots-information__subtitle {
  color: #1510E7;

}

@include respond-to(small) {
  .bots-information__subtitle {
    margin: 0 0 10px 0;
  }
}
