html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'basic_sanssemibold';
  src: url("../fonts/latinotype_-_basicsans-semibold-webfont.woff2") format("woff2"), url("../fonts/latinotype_-_basicsans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'basic_sanslight';
  src: url("../fonts/latinotype_-_basicsans-light-webfont.woff2") format("woff2"), url("../fonts/latinotype_-_basicsans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'basic_sansregular';
  src: url("../fonts/latinotype_-_basicsans-regular-webfont.woff2") format("woff2"), url("../fonts/latinotype_-_basicsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'basic_sansbold';
  src: url("../fonts/latinotype_-_basicsans-bold-webfont.woff2") format("woff2"), url("../fonts/latinotype_-_basicsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.button {
  text-decoration: none;
  text-align: center;
  border: 0;
  outline: 0;
  background-color: #fff;
  cursor: pointer; }

.button--border-blue {
  padding: 13px 20px;
  border: 2px solid #1510E7;
  cursor: pointer;
  color: #1510E7;
  font-size: 14px;
  font-family: 'basic_sanssemibold'; }

.button--border-white {
  padding: 13px 20px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 14px;
  font-family: 'basic_sanssemibold';
  background-color: #1510E7; }

.button--blue {
  padding: 20px 28px;
  font-family: 'basic_sanssemibold';
  font-size: 16px;
  color: #fff;
  background-color: #1510e7; }

.button--play {
  width: 92px;
  height: 92px;
  background-color: transparent;
  border: 0;
  background-image: url("https://storage.googleapis.com/yalo-img/landing-page/icon-play.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  outline: 0;
  cursor: pointer; }

.button--play:hover {
  background-position: 0 -92px; }

.button--play {
  position: absolute;
  z-index: 1;
  top: 50%;
  /* position the top  edge of the element at the middle of the parent */
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }

.header {
  position: relative;
  width: 100%;
  z-index: 2; }

.header div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 43px;
  padding: 32px 0px;
  background-color: #fff;
  z-index: 1; }

.header .logo {
  float: left;
  margin-left: 32px; }

.header .button {
  float: right;
  margin-right: 32px; }

.logo {
  margin: 0;
  display: inline-block;
  text-align: center; }

.logo a {
  display: inline-block;
  width: 97px;
  height: 34px;
  background-image: url("https://storage.googleapis.com/yalo-img/logoyalo.svg");
  background-repeat: no-repeat;
  overflow: hidden; }

.logo span {
  display: block;
  padding-top: 34px; }

.navigation {
  padding: 12px 0px;
  text-align: right;
  background-color: orange;
  grid-column: 3;
  grid-row: 1; }

@media only screen and (max-width: 540px) {
  .navigation {
    grid-column: 1;
    grid-row: 3; } }

.navigation__link {
  padding: 0 20px;
  font-size: 14px;
  color: #aaaaaa;
  font-family: 'basic_sanssemibold';
  text-decoration: none; }

.navigation__link--is-selected {
  color: #383838; }

.intro {
  padding: 130px 0 0;
  position: relative;
  display: grid;
  text-align: center;
  grid-auto-columns: 20% 60%;
  border-bottom: 1px solid #9F9DFF;
  clear: both; }

@media only screen and (max-width: 540px) {
  .intro {
    grid-auto-columns: 10% 80%; } }

.intro__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 32px;
  font-family: 'basic_sanslight';
  color: #3f3f3f;
  grid-column: 2;
  grid-row: 1; }

.intro .button {
  width: 220px;
  margin-bottom: 34px;
  justify-self: center;
  grid-column: 2;
  grid-row: 2; }

.intro__arrow {
  display: block;
  position: absolute;
  bottom: -20px;
  left: 48%;
  margin: 0 auto;
  width: 42px;
  height: 42px;
  background-image: url("https://storage.googleapis.com/yalo-img/landing-page/viewmore-arrow.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.intro__arrow:hover {
  background-position-y: -42px; }

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateX(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  40% {
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

.phone {
  width: 354px;
  height: 442px;
  text-align: center;
  background-image: url("https://storage.googleapis.com/yalo-img/landing-page/IphoneClayWhite.svg");
  background-repeat: no-repeat;
  display: block;
  grid-column: 2;
  grid-row: 3;
  justify-self: center; }

.phone video {
  width: 312px;
  height: 346px;
  margin-top: 81px; }

@media only screen and (max-width: 540px) {
  .phone {
    width: 320px;
    height: 400px; }
  .phone video {
    width: 279px;
    height: 247px;
    margin-top: 86px; } }

.tasks {
  padding: 80px 0;
  text-align: center; }

.tasks__box {
  width: 64%;
  max-width: 870px;
  padding: 40px;
  margin: 0 auto 26px;
  text-align: left;
  -webkit-box-shadow: 0 2px 20px 0 rgba(159, 159, 159, 0.18);
  box-shadow: 0 2px 20px 0 rgba(159, 159, 159, 0.18);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.tasks__box:last-of-type {
  margin-bottom: 60px; }

@media only screen and (max-width: 540px) {
  .tasks__box {
    padding: 30px; } }

.tasks__copy {
  margin-bottom: 18px;
  font-family: 'basic_sansregular';
  font-size: 14px;
  color: #383838;
  line-height: 1.64; }

.tasks__link {
  font-family: 'basic_sanssemibold';
  font-size: 14px;
  color: #1510E7; }

.tasks__list {
  padding: 0 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: left; }

@media only screen and (min-width: 541px) and (max-width: 768px) {
  .tasks__list {
    margin-top: 60px;
    padding: 0; } }

@media only screen and (max-width: 540px) {
  .tasks__list {
    margin-top: 60px;
    padding: 0; } }

.tasks__list .tasks__item {
  max-width: 20%; }

@media only screen and (min-width: 541px) and (max-width: 768px) {
  .tasks__list .tasks__item {
    max-width: 64%;
    margin-bottom: 20px; } }

@media only screen and (max-width: 540px) {
  .tasks__list .tasks__item {
    max-width: 74%;
    margin-bottom: 20px; } }

.tasks__title {
  font-size: 24px;
  font-family: 'basic_sanslight';
  margin-bottom: 60px;
  padding: 0 32px;
  color: #383838; }

.tasks__subtitle {
  margin-bottom: 12px;
  font-size: 18px;
  font-family: 'basic_sanssemibold';
  color: #383838; }

.tasks__subtitle--with-icon::before {
  display: block;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  content: ''; }

.tasks__subtitle--with-icon.one::before {
  width: 52px;
  height: 45px;
  background-image: url("https://storage.googleapis.com/yalo-img/activities-svg/icon_sasos-frecuentes.svg"); }

.tasks__subtitle--with-icon.two::before {
  width: 47px;
  height: 35px;
  background-image: url("https://storage.googleapis.com/yalo-img/activities-svg/icon_vender-productos-servicios.svg"); }

.tasks__subtitle--with-icon.three::before {
  width: 42px;
  height: 39px;
  background-image: url("https://storage.googleapis.com/yalo-img/activities-svg/icon_dar-seguimiento.svg"); }

.tasks__subtitle--with-icon.four::before {
  width: 42px;
  height: 39px;
  background-image: url("https://storage.googleapis.com/yalo-img/activities-svg/icon_reservar.svg"); }

.tasks__subtitle--with-icon.five::before {
  width: 42px;
  height: 39px;
  background-image: url("https://storage.googleapis.com/yalo-img/activities-svg/icon_reconocimiento-imagenes.svg"); }

.tasks__subtitle--with-icon.six::before {
  width: 42px;
  height: 39px;
  background-image: url("https://storage.googleapis.com/yalo-img/activities-svg/icon_leads-two.svg"); }

.tasks__subtitle--with-icon.seven::before {
  width: 42px;
  height: 39px;
  background-image: url("https://storage.googleapis.com/yalo-img/activities-svg/icon_near-stores.svg"); }

.tasks__video {
  width: 100%;
  height: auto; }

@media only screen and (max-width: 540px) {
  .tasks__video {
    display: none; } }

.tasks__text-container {
  width: 50%; }

@media only screen and (max-width: 540px) {
  .tasks__text-container {
    width: 100%; } }

.tasks__video-container {
  width: 40%;
  text-align: center; }

@media only screen and (max-width: 540px) {
  .tasks__video-container {
    display: none; } }

.how-it-works {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6);
  background-image: -o-linear-gradient(top, #ffffff, #f6f6f6);
  background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
  padding-bottom: 80px; }

.how-it-works::before {
  width: 100%;
  height: 450px;
  display: block;
  margin-bottom: 60px;
  background-image: url("https://storage.googleapis.com/yalo-img/isometric-cards.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: ''; }

.how-it-works::after {
  width: 90%;
  height: 392px;
  margin: 40px auto 0;
  display: block;
  background-image: url("https://storage.googleapis.com/yalo-img/activities-svg/howitworks.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: ''; }

@media only screen and (max-width: 540px) {
  .how-it-works::before {
    height: 250px;
    background-size: 190%; } }

@media only screen and (max-width: 540px) {
  .how-it-works::after {
    display: none; } }

.how-it-works__title {
  margin-bottom: 50px;
  text-align: center;
  font-family: 'basic_sanssemibold';
  font-size: 24px;
  color: #383838; }

.how-it-works__list {
  padding: 0 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center; }

@media only screen and (max-width: 540px) {
  .how-it-works__list {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left; } }

.how-it-works__list__item {
  max-width: 19%;
  line-height: 1.3;
  font-family: 'basic_sansregular';
  font-size: 16px;
  color: #383838; }

@media only screen and (max-width: 540px) {
  .how-it-works__list__item {
    max-width: 100%;
    margin-bottom: 20px; } }

.benefits {
  padding: 52px 32px;
  text-align: center; }

.benefits__title {
  font-family: 'basic_sanssemibold';
  font-size: 18px;
  color: #383838; }

.benefits__subtitle {
  font-family: 'basic_sanslight';
  font-size: 20px;
  color: #383838; }

.benefits__subtitle span {
  font-family: 'basic_sansbold';
  font-size: 20px;
  color: #383838; }

.benefits__subtitle .benefits__source {
  display: block;
  font-family: 'basic_sanslight';
  font-size: 14px;
  margin-top: 10px; }

.benefits__list__item:first-of-type {
  width: 30%;
  padding: 0 20px; }

.benefits__list__item:nth-child(2) {
  width: 30%; }

@media only screen and (max-width: 540px) {
  .benefits__list__item:first-of-type {
    width: 50%; }
  .benefits__list__item:nth-child(2) {
    width: 50%; } }

.benefits__list {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: left; }

.benefits__copy {
  font-family: 'basic_sansregular';
  font-size: 16px;
  color: #383838;
  margin-bottom: 24px;
  line-height: 1.31; }

.clients {
  padding: 60px 0px;
  text-align: center;
  background-color: #1510E7; }

.clients__title {
  font-family: 'basic_sanssemibold';
  font-size: 22px;
  color: #fff;
  margin-bottom: 48px; }

.clients__list {
  text-align: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

@media only screen and (max-width: 540px) {
  .clients__list {
    text-align: center; } }

.clients__list__item img {
  width: 70%;
  height: 45px; }

@media only screen and (max-width: 540px) {
  .clients__list__item {
    text-align: center;
    margin-bottom: 20px; } }

.design-development {
  padding: 72px 32px 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7fbfd), to(#e7f4fc));
  background-image: -webkit-linear-gradient(top, #f7fbfd, #e7f4fc);
  background-image: -o-linear-gradient(top, #f7fbfd, #e7f4fc);
  background-image: linear-gradient(to bottom, #f7fbfd, #e7f4fc);
  text-align: center; }

@media only screen and (max-width: 540px) {
  .design-development {
    padding: 72px 32px 80px; } }

.design-development__title {
  margin: 0 auto 70px;
  font-family: 'basic_sanssemibold';
  font-size: 22px;
  color: #383838; }

.design-development__subtitle {
  font-family: 'basic_sanssemibold';
  font-size: 18px;
  color: #383838;
  margin-bottom: 6px; }

.design-development__subtitle--with-icon::before {
  display: block;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  content: ''; }

.design-development__subtitle.one::before {
  width: 63px;
  height: 80px;
  background-image: url("https://storage.googleapis.com/yalo-img/activities-svg/process-12.svg"); }

.design-development__subtitle.two::before {
  width: 65px;
  height: 80px;
  background-image: url("https://storage.googleapis.com/yalo-img/activities-svg/process-13.svg"); }

.design-development__subtitle.three::before {
  width: 76px;
  height: 80px;
  background-image: url("https://storage.googleapis.com/yalo-img/activities-svg/process-11.svg"); }

.design-development__subtitle.four::before {
  width: 60px;
  height: 80px;
  background-image: url("https://storage.googleapis.com/yalo-img/activities-svg/process-10.svg"); }

.design-development__copy {
  font-family: 'basic_sanslight';
  font-size: 16px;
  color: #383838;
  line-height: 1.44; }

.design-development__list {
  padding: 0 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: left; }

.design-development__item {
  width: 24%; }

@media only screen and (max-width: 540px) {
  .design-development__item {
    width: 100%;
    margin-bottom: 60px; } }

.news {
  padding: 60px 32px;
  text-align: center; }

.news__title {
  margin-bottom: 36px;
  font-family: 'basic_sanssemibold';
  font-size: 28px;
  color: #383838; }

.news__list {
  padding: 0 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: left; }

.news__list__item {
  width: 18%;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 120px;
  background-position: center; }

.news__list__item--one {
  background-image: url("https://storage.googleapis.com/yalo-img/landing-page/logos-clients/ForbesLogo.svg"); }

.news__list__item--two {
  background-image: url("https://storage.googleapis.com/yalo-img/landing-page/logos-clients/ElEconomistaLogo.svg"); }

.news__list__item--three {
  background-image: url("https://storage.googleapis.com/yalo-img/landing-page/logos-clients/YahooLogo.svg"); }

.news__list__item--four {
  background-size: 100% 70px;
  background-image: url("https://storage.googleapis.com/yalo-img/landing-page/logos-clients/CNNLogo.svg"); }

@media only screen and (max-width: 540px) {
  .news__list__item {
    width: 100%;
    margin-bottom: 20px; } }

.bots-information__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: left; }

.bots-information__list__item {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat; }

.bots-information__list__item--orange {
  background-image: url("https://storage.googleapis.com/yalo-img/landing-page/bots-information-orange.svg"); }

.bots-information__list__item--purple {
  background-image: url("https://storage.googleapis.com/yalo-img/landing-page/bots-information-purple.svg"); }

@media only screen and (max-width: 540px) {
  .bots-information__list__item {
    width: 100%;
    padding: 60px 30px;
    text-align: center; } }

.bots-information__subtitle {
  display: block;
  margin: 98px 20px 26px 96px;
  font-family: 'basic_sanslight';
  font-size: 28px; }

.bots-information__list__item--orange
.bots-information__subtitle {
  color: #FF6666; }

.bots-information__list__item--purple
.bots-information__subtitle {
  color: #1510E7; }

@media only screen and (max-width: 540px) {
  .bots-information__subtitle {
    margin: 0 0 10px 0; } }

.bots-information__link {
  display: block;
  width: 30%;
  margin: 0 0 40px 96px;
  font-family: 'basic_sansbold';
  font-size: 40px;
  text-decoration: none; }

.bots-information__list__item--orange
.bots-information__link {
  color: #FF6666; }

.bots-information__list__item--purple
.bots-information__link {
  color: #1510E7; }

@media only screen and (max-width: 540px) {
  .bots-information__link {
    width: 100%;
    margin-left: 0; } }

.footer {
  padding: 70px 60px;
  background: #383838;
  display: grid;
  grid-auto-columns: auto 1fr auto; }

.footer .logo {
  text-align: left;
  grid-column: 1;
  grid-row: 1; }

@media only screen and (max-width: 540px) {
  .footer {
    grid-auto-columns: 100% 1fr auto; }
  .footer .logo {
    text-align: center;
    grid-column: 1;
    margin-bottom: 30px; } }

.footer__copy {
  font-family: 'basic_sansregular';
  color: #fff;
  margin-bottom: 14px; }

.footer__copy--made {
  grid-column: 1;
  grid-row: 2; }

.footer__copy--mail {
  grid-column: 1;
  grid-row: 3; }

@media only screen and (max-width: 540px) {
  .footer__copy {
    text-align: center; } }

.footer__list {
  padding: 10px 60px 0 0;
  border-top: 2px solid #FF6666;
  grid-column: 3;
  grid-row: 1; }

@media only screen and (max-width: 540px) {
  .footer__list {
    margin-top: 40px;
    grid-column: 1;
    grid-row: 4; } }

.footer__list__item a {
  font-family: 'basic_sansregular';
  color: #A7A7A7;
  display: block;
  text-decoration: none;
  line-height: 1.64; }

#get-bot {
  width: 0;
  padding: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #1510E7;
  overflow: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

#get-bot form {
  margin-top: 25%; }

#get-bot .input--white {
  width: 85%;
  height: 45px;
  margin-bottom: 1px;
  display: block;
  margin: 0 auto 10px; }

#get-bot .button--border-white {
  margin: 0 auto;
  display: block;
  margin-top: 30px; }

#push-content {
  -webkit-transition: margin-right .4s;
  -o-transition: margin-right .4s;
  transition: margin-right .4s; }

.closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  margin: 20px 0 0 40px;
  color: #fff;
  text-decoration: none; }

.get-bot .input--textarea {
  height: 100px;
  display: block;
  width: 85%;
  margin: 0 auto 10px; }

.get-bot__copy {
  margin-bottom: 20px;
  font-family: 'basic_sanssemibold';
  text-align: center;
  font-size: 18px;
  color: #fff;
  line-height: 1.3; }

.success {
  padding: 80px;
  background-color: #383838;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  @media only screen and (max-width: 540px) {
    .success {
      padding: 30px; } }

.success__title__container {
  width: 30%;
  text-align: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }
  @media only screen and (max-width: 540px) {
    .success__title__container {
      width: 100%;
      margin-bottom: 20px; } }
  @media only screen and (min-width: 541px) and (max-width: 768px) {
    .success__title__container {
      width: 100%;
      margin-bottom: 20px; } }

.success__video__container {
  width: 50%;
  position: relative; }
  @media only screen and (max-width: 540px) {
    .success__video__container {
      width: 100%; } }
  @media only screen and (min-width: 541px) and (max-width: 768px) {
    .success__video__container {
      width: 100%; } }
  .success__video__container .video__success {
    width: 100%; }

.success__data {
  width: 20%;
  margin-right: -80px;
  z-index: 1;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }
  @media only screen and (max-width: 540px) {
    .success__data {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px; } }
  @media only screen and (min-width: 541px) and (max-width: 768px) {
    .success__data {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px; } }

.sucesss__title {
  font-family: 'basic_sansbold';
  font-size: 48px;
  font-size: 8vh;
  color: #fff; }

.sucesss__title::before {
  width: 57px;
  height: 36px;
  margin: 0 auto 15px;
  display: block;
  background-image: url("https://storage.googleapis.com/yalo-img/landing-page/logos-clients/aeromexico-success-logo.svg");
  content: ''; }

.success__subtitle {
  font-family: 'basic_sanslight';
  font-size: 18px;
  color: #fff; }

.success__data {
  text-align: center; }

.success__data li {
  padding: 16px 0;
  border-bottom: 4px solid #A7A5FF;
  display: block;
  font-family: 'basic_sansbold';
  font-size: 28px;
  color: #fff; }

.success__data li span {
  font-family: 'basic_sansregular';
  font-size: 18px;
  display: block; }

.success__data li:first-of-type {
  border-top: 4px solid #A7A5FF; }

.input--white {
  background-color: #fff;
  padding: 0px 20px;
  font-family: 'basic_sansregular';
  font-size: 16px;
  border: none;
  outline: 0; }

.input--textarea {
  font-family: 'basic_sansregular';
  font-size: 16px;
  padding: 20px;
  border: 0;
  resize: none;
  outline: 0; }
