
@font-face {
    font-family: 'basic_sanssemibold';
    src: url('../fonts/latinotype_-_basicsans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/latinotype_-_basicsans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'basic_sanslight';
    src: url('../fonts/latinotype_-_basicsans-light-webfont.woff2') format('woff2'),
         url('../fonts/latinotype_-_basicsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'basic_sansregular';
    src: url('../fonts/latinotype_-_basicsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/latinotype_-_basicsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'basic_sansbold';
    src: url('../fonts/latinotype_-_basicsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/latinotype_-_basicsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
