.navigation {
  padding: 12px 0px;
  text-align: right;
  background-color: orange;
  grid-column: 3;
  grid-row: 1;
}

@include respond-to(small) {
  .navigation {
    grid-column: 1;
    grid-row: 3;
  }
}
