.footer__copy {
  font-family: 'basic_sansregular';
  color: #fff;
  margin-bottom: 14px;

}

.footer__copy--made {
  grid-column: 1;
  grid-row: 2;


}

.footer__copy--mail {
  grid-column: 1;
  grid-row: 3;

}

@include respond-to(small) {
  .footer__copy {
    text-align: center;

  }
}
