.intro__arrow {
  display: block;
  position: absolute;
  bottom: -20px;
  left: 48%;
  margin: 0 auto;
  width: 42px;
  height: 42px;

  background-image: url('https://storage.googleapis.com/yalo-img/landing-page/viewmore-arrow.svg');
  background-repeat: no-repeat;
  background-size: 100%;

}

.intro__arrow:hover {
  background-position-y: -42px;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
	40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
	60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);
    transform: translateX(0);
  }
	40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
	60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
