.tasks__subtitle--with-icon::before {
  display: block;
  margin-bottom: 20px;

  background-repeat: no-repeat;

  content: '';

}

.tasks__subtitle--with-icon.one::before {
  width: 52px;
  height: 45px;

  background-image: url('https://storage.googleapis.com/yalo-img/activities-svg/icon_sasos-frecuentes.svg');

}

.tasks__subtitle--with-icon.two::before {
  width: 47px;
  height: 35px;

  background-image: url('https://storage.googleapis.com/yalo-img/activities-svg/icon_vender-productos-servicios.svg');

}

.tasks__subtitle--with-icon.three::before {
  width: 42px;
  height: 39px;

  background-image: url('https://storage.googleapis.com/yalo-img/activities-svg/icon_dar-seguimiento.svg');

}

.tasks__subtitle--with-icon.four::before {
  width: 42px;
  height: 39px;

  background-image: url('https://storage.googleapis.com/yalo-img/activities-svg/icon_reservar.svg');

}

.tasks__subtitle--with-icon.five::before {
  width: 42px;
  height: 39px;

  background-image: url('https://storage.googleapis.com/yalo-img/activities-svg/icon_reconocimiento-imagenes.svg');

}

.tasks__subtitle--with-icon.six::before {
  width: 42px;
  height: 39px;

  background-image: url('https://storage.googleapis.com/yalo-img/activities-svg/icon_leads-two.svg');

}

.tasks__subtitle--with-icon.seven::before {
  width: 42px;
  height: 39px;

  background-image: url('https://storage.googleapis.com/yalo-img/activities-svg/icon_near-stores.svg');

}
