.footer__list {
  padding: 10px 60px 0 0;
  border-top: 2px solid #FF6666;
  grid-column: 3 ;
  grid-row: 1;

}

@include respond-to(small) {
  .footer__list {
    margin-top: 40px;
    grid-column: 1;
    grid-row: 4 ;
  }
}
