.how-it-works__list {
  padding: 0 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;

}

@include respond-to(small) {

  .how-it-works__list {
    justify-content: flex-start;
    text-align: left;
    
  }
}
