.sucesss__title {
  font-family: 'basic_sansbold';
  font-size: 48px;
  font-size: 8vh;
  color: #fff;
}

.sucesss__title::before {
  width: 57px;
  height: 36px;
  margin: 0 auto 15px;
  display: block;
  background-image: url('https://storage.googleapis.com/yalo-img/landing-page/logos-clients/aeromexico-success-logo.svg');

  content: '';

}

@include respond-to(small) {

}
