.benefits__subtitle {
  font-family: 'basic_sanslight';
  font-size: 20px;
  color: #383838;

}

.benefits__subtitle span {
  font-family: 'basic_sansbold';
  font-size: 20px;
  color: #383838;

}

.benefits__subtitle .benefits__source {
  display: block;
  font-family: 'basic_sanslight';
  font-size: 14px;
  margin-top: 10px;
}
