.benefits__list__item:first-of-type {
  width: 30%;
  padding: 0 20px;
}

.benefits__list__item:nth-child(2) {
  width: 30%;

}


@include respond-to(small) {
  .benefits__list__item:first-of-type {
    width: 50%;

  }

  .benefits__list__item:nth-child(2) {
    width: 50%;

  }

}
