.phone {
  width: 354px;
  height: 442px;

  text-align: center;

  background-image: url('https://storage.googleapis.com/yalo-img/landing-page/IphoneClayWhite.svg');
  background-repeat: no-repeat;

  display: block;

  grid-column: 2;
  grid-row: 3;
  justify-self: center;

}

.phone video {
  width: 312px;
  height: 346px;
  margin-top: 81px;

}

@include respond-to(small) {
  .phone {
    width: 320px;
    height: 400px;

  }

  .phone video {
    width: 279px;
    height: 247px;
    margin-top: 86px;

  }
}
