.tasks__list .tasks__item {
  max-width: 20%;

}

@include respond-to(medium) {
  .tasks__list .tasks__item {
    max-width: 64%;
    margin-bottom: 20px;

  }
}

@include respond-to(small) {
  .tasks__list .tasks__item {
    max-width: 74%;
    margin-bottom: 20px;

  }
}
