.success {
  padding: 80px;
  background-color: #383838;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
  position: relative;
  @include respond-to(small) {
    padding: 30px;
   }

}

.success__title__container {
  width: 30%;
  text-align: center;
  align-self: center;
  @include respond-to(small) {
    width: 100%;
    margin-bottom: 20px;
   }
   @include respond-to(medium) {
     width: 100%;
     margin-bottom: 20px;
    }
}

.success__video__container {
  width: 50%;
  position: relative;
  @include respond-to(small) {
    width: 100%;

   }
   @include respond-to(medium) {
     width: 100%;

    }
  .video__success {
    width: 100%;
  }
}

.success__data {
  width: 20%;
  margin-right: -80px;
  z-index: 1;
  align-self: center;
  @include respond-to(small) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
   }
   @include respond-to(medium) {
     width: 100%;
     margin-right: 0;
     margin-bottom: 20px;
    }

}



@include respond-to(small) {


}
