.how-it-works {
  width: 100%;
  background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
  padding-bottom: 80px;
}

.how-it-works::before {
  width: 100%;
  height: 450px;
  display: block;
  margin-bottom: 60px;

  background-image: url('https://storage.googleapis.com/yalo-img/isometric-cards.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  content: '';
}

.how-it-works::after {
  width: 90%;
  height: 392px;
  margin: 40px auto 0;
  display: block;

  background-image: url('https://storage.googleapis.com/yalo-img/activities-svg/howitworks.svg');
  background-position: center;
  background-repeat: no-repeat;

  content: '';
}

@include respond-to(small) {
  .how-it-works::before {
    height: 250px;
    background-size: 190%;
  }
}

@include respond-to(small) {
  .how-it-works::after {
    display: none;
  }
}
