.design-development__subtitle--with-icon::before {
  display: block;
  margin-bottom: 20px;

  background-repeat: no-repeat;

  content: '';

}

.design-development__subtitle.one::before {
  width: 63px;
  height: 80px;

  background-image: url('https://storage.googleapis.com/yalo-img/activities-svg/process-12.svg');

}

.design-development__subtitle.two::before {
  width: 65px;
  height: 80px;

  background-image: url('https://storage.googleapis.com/yalo-img/activities-svg/process-13.svg');

}

.design-development__subtitle.three::before {
  width: 76px;
  height: 80px;

  background-image: url('https://storage.googleapis.com/yalo-img/activities-svg/process-11.svg');

}

.design-development__subtitle.four::before {
  width: 60px;
  height: 80px;

  background-image: url('https://storage.googleapis.com/yalo-img/activities-svg/process-10.svg');

}
