.bots-information__list__item {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bots-information__list__item--orange {
  background-image: url('https://storage.googleapis.com/yalo-img/landing-page/bots-information-orange.svg');
}

.bots-information__list__item--purple {
  background-image: url('https://storage.googleapis.com/yalo-img/landing-page/bots-information-purple.svg');
}

@include respond-to(small) {
  .bots-information__list__item {
    width: 100%;
    padding: 60px 30px;
    text-align: center;

  }
}
