.news__list__item {
  width: 18%;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 120px;
  background-position: center;
}

.news__list__item--one { background-image: url('https://storage.googleapis.com/yalo-img/landing-page/logos-clients/ForbesLogo.svg'); }

.news__list__item--two { background-image: url('https://storage.googleapis.com/yalo-img/landing-page/logos-clients/ElEconomistaLogo.svg'); }

.news__list__item--three { background-image: url('https://storage.googleapis.com/yalo-img/landing-page/logos-clients/YahooLogo.svg'); }

.news__list__item--four {
  background-size: 100% 70px;
  background-image: url('https://storage.googleapis.com/yalo-img/landing-page/logos-clients/CNNLogo.svg');
}


@include respond-to(small) {
  .news__list__item {
    width: 100%;
    margin-bottom: 20px;
  }
}
