.design-development {
  padding: 72px 32px 80px;
  background-image: linear-gradient(to bottom, #f7fbfd, #e7f4fc);
  text-align: center;

}

@include respond-to(small) {
  .design-development {
    padding: 72px 32px 80px;
    
  }
}
